In [45]:
# Dependencies and Setup
import requests
import gmaps
import pandas as pd

# Import API key
from config import g_key

# import city data file
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()
city_data_df.dtypes

# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
#hotels

In [46]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Acarau,BR,2021-09-30 19:59:14,-2.8856,-40.1200,82.15,73,64,17.13
15,15,Hilo,US,2021-09-30 19:57:35,19.7297,-155.0900,76.80,94,90,3.44
18,18,Georgetown,MY,2021-09-30 19:54:22,5.4112,100.3354,82.33,91,40,5.99
19,19,Ames,US,2021-09-30 19:55:57,42.0347,-93.6199,85.08,70,75,3.00
24,24,Sola,VU,2021-09-30 19:59:22,-13.8833,167.5500,79.77,83,100,23.38
25,25,Arraial Do Cabo,BR,2021-09-30 19:57:27,-22.9661,-42.0278,75.16,88,20,5.75
28,28,Victoria,HK,2021-09-30 19:55:04,22.2855,114.1577,86.32,88,24,4.00
30,30,Avera,US,2021-09-30 19:59:24,33.1940,-82.5271,86.92,39,99,1.45
37,37,Puerto Ayora,EC,2021-09-30 19:59:27,-0.7393,-90.3518,80.56,84,59,9.19
46,46,Hamilton,US,2021-09-30 19:57:11,39.1834,-84.5333,81.36,49,100,1.99

In [13]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4            Acarau      BR     82.15  -2.8856  -40.1200
15             Hilo      US     76.80  19.7297 -155.0900
18       Georgetown      MY     82.33   5.4112  100.3354
19             Ames      US     85.08  42.0347  -93.6199
24             Sola      VU     79.77 -13.8833  167.5500
25  Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
28         Victoria      HK     86.32  22.2855  114.1577
30            Avera      US     86.92  33.1940  -82.5271
37     Puerto Ayora      EC     80.56  -0.7393  -90.3518
46         Hamilton      US     81.36  39.1834  -84.5333

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Acarau,BR,82.15,-2.8856,-40.1200,castelo pizzaria
15,Hilo,US,76.80,19.7297,-155.0900,Hilo Hawaiian Hotel
18,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
19,Ames,US,85.08,42.0347,-93.6199,"Holiday Inn Express & Suites Ames, an IHG Hotel"
24,Sola,VU,79.77,-13.8833,167.5500,Leumerus Bungalows
25,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
28,Victoria,HK,86.32,22.2855,114.1577,Mini Hotel Central
30,Avera,US,86.92,33.1940,-82.5271,
37,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
46,Hamilton,US,81.36,39.1834,-84.5333,Six Acres Bed & Breakfast
51,Port Blair,IN,81.14,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
52,Tripoli,LY,77.58,32.8752,13.1875,Hotel Al-Safwa
53,Garissa,KE,77.68,-0.4536,39.6401,Sharif Plaza Hotel
54,Maragogi,BR,76.23,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
58,Pontianak,ID,75.18,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
61,Buluang,PH,78.19,13.3068,123.3425,Enon Beach Resort
70,Bam,IR,83.61,29.1060,58.3570,Bam Tourist Hotel
73,Salalah,OM,79.90,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
75,Saint Anthony,US,84.13,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
78,Indramayu,ID,80.31,-6.3264,108.3200,Grand Trisula Hotel

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots.
# drop na from hotel df long and lat
hotel_df = hotel_df.dropna()
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))